.menu{
    position: relative;
    width: 148px;
    height: 24px;
    display: flex;
    margin-top: 52px;
}
.button-left{
    width: 15px;
    height: 25.004840850830078px;
    color: #28A19C;
    position: absolute;
    left: 80px;
    font-size: larger;
    font-weight: 600;

}
.button-right{
    width: 15px;
    height: 25.004840850830078px;
    color: #28A19C;
    position: absolute;
    left: 1432px;
    font-size: larger;
    font-weight: 600;
}
.option{

    opacity: 75%;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.7333332896232605px;
    text-align: center;
    color: #343434;
    position: absolute;

}
.option-container{
    width: 148px;
    height: 24px;
    position: relative;
    left: 97px;
    margin-right: 270px;
    display: flex;

}
.clicked-option{
    color: #28A19C;
    background: white;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.7333332896232605px;
    text-align: center;
    position: absolute;

}