.text-container{
    height: 101px;
    align-items: center;
    position: relative;
    margin-top: 90px;
    margin-left: 590px;
}
.header{
    width: auto;
    height: 42px;
    position: absolute;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.066666603088379px;
    color: #FFBA00;
    whiteSpace: 'nowrap'


}
.detail{
    width: 234px;
    height: 42px;
    top: 59px;
    position: absolute;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.43333330750465393px;
    color: #343434;
    margin-top: auto;
    margin-left: 2px;


}
