@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.introDiv{
    width: 1519px;
    height: 550px;
    background: white;

}
.intro{
    font-family:'Quicksand';
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: rgba(40, 161, 156, 1);
    letter-spacing: 1.3333332538604736px;
    text-align: left;


}
.div{
    width: 561px;
    height: 103px;
    position: absolute;
    top: 249px;
    left: 80px;
}
.detailed-intro{
    width: 561px;
    height: 60px;
    opacity: 75%;
    position: absolute;
    left: 80px;
    top: 382px;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.43333330750465393px;
    text-align: left;

}
.background{
    width: 595.701904296875px;
    height: 539.3230590820312px;
    top: 102.00048828125px;
    left: 833.296875px;
    position: absolute;

}
.second-background{
    width: 656.6473435478091px;
    height: 811.1587582233944px;
    top: -276.814453125px;
    left: 1500px;
    opacity: 71%;
    angle: -47 deg;
    position: absolute;



}
.base{
    width: 620.8326416015625px;
    height: 500.9460144042969px;
    top: 100px;
    left: 865.16796875px;
    background: #FFFFFF;
    position: absolute;
    angle: -47 deg;

    border-radius: 250px;

}
.image{
    width: 472.0574035644531px;
    height: 479.5147705078125px;
    top: 100.02734375px;
    left: 1020.232421875px;
    position: absolute;

}

