.whatsapp-icon{
    width: 56px;
    height: 55.9999885559082px;
    margin-left: 1282px;
    margin-top: 40px;


}

 .container{
     width: 1519px;
     height: 278px;
     background: #FFFFFF;
     position: relative;
     margin-top: 20px;
 }
 .chooseCourse{
     width: 179px;
     height: 198.00010681152344px;
     top: 40px;
     left: 300px;
     padding: 0px 0px 16px 0px;
     position: relative;


 }
 .chooseCourse-icons{
     width: 137px;
     height: 137px;
     left: 22px;
     position: absolute;
 }
 .startLearning{
     width: 173px;
     height: 198.00010681152344px;
     top: 40px;
     left: 596px;
     padding: 0px 0px 16px 0px;
     position: absolute;

 }
 .startLearning-icons{
     width: 137px;
     height: 137px;
     left: 19px;
     position: relative;

 }
 .getCertificate{
     width: 181px;
     height: 198.00010681152344px;
     top: 40px;
     left: 886px;
     padding: 0px 0px 16px 0px;
     position: absolute;

 }
 .getCertificate-icons{
     width: 138px;
     height: 137px;
     left: 23px;
     position: absolute;

 }
 .chooseCourse-text{
     width: 179px;
     height: 14px;
     top: 168px;
     font-family: Quicksand;
     font-size: 24px;
     font-weight: 700;
     line-height: 14px;
     letter-spacing: 0.7999999523162842px;
     text-align: center;
     color: #343434;
     position: absolute;
 }
 .startLearning-text{
     width: 173px;
     height: 14px;
     top: 168px;
     font-family: Quicksand;
     font-size: 24px;
     font-weight: 700;
     line-height: 14px;
     letter-spacing: 0.7999999523162842px;
     text-align: center;
     color: #343434;
     position: absolute;


 }
 .getCertificate-text{
     width: 181px;
     height: 14px;
     top: 168px;
     font-family: Quicksand;
     font-size: 24px;
     font-weight: 700;
     line-height: 14px;
     letter-spacing: 0.7999999523162842px;
     text-align: center;
     color: #343434;
     position: absolute;
 }
